<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">

<head><div th:replace="fragments ::app_head('titulo')"></div></head>


</head>
<body>
	<div class="container-fluid"> <!-- contenedor de pagina-->

		<div th:replace="fragments ::navbartop"></div> <!-- Menu superior --> 	

		<div id="result" class="row"> <!-- fila contine menuj lateral 3 col,  principal 9 col -->
			
			<!--
			<div th:replace="fragments ::navbarside"></div> <!-- Menu Lateral  -->  
			
			<!-- Contenido principal 9 columnas -->
			<div class="col-sm-12">
		
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading"><h4 th:text="${''}">Clinente: XXXX DOC: XXX</h4></div>
								<form th:object="${riesgoDTO}" th:action="@{/riesgos/save}" method="POST" id="riesgoForm" ><!--Formulario operacion-->
									<!-- Form Name -->
									<fieldset>

										<input type="hidden"  th:field="*{riesgo.id}">	
										<!-- Text input-->
										<div class="col-sm-2 form-group">
											<label class="control-label" for="txtOrigen">Origen</label>  
											<div class="">
												<input id="txtOrigen" th:field="*{riesgo.origen}"  name="txtOrigen" type="text" placeholder="" class="form-control input-md" tabIndex="-1" onkeypress="enableSaveButton()">

											</div>
										</div>

										<!-- Text input-->
										<div class="col-sm-2 form-group">
											<label class="control-label" for="estado">Tipo Amenaza</label>  
											<div class="">									
												<input id="estado" th:field="*{riesgo.codigoAmenaza}"  name="codigoAmenaza"  type="text" placeholder="" class="form-control input-md" tabIndex="-1" onkeypress="enableSaveButton()">
											</div>
										</div> 


																			
									<!-- Textarea -->
									<div class="col-sm-6 form-group">
										<label class="control-label" for="descripcion">Descripcion Amenaza</label>
										<div class="">                     
											<textarea class="form-control" id="descripcion" th:field="*{riesgo.descripcion}"  onkeypress="enableSaveButton()"></textarea>
										</div>
									</div>
										
										
											<!-- Text input-->
										<div class="col-sm-2 form-group">
											<label class="control-label" for="fechaOp">Fecha Analisis</label>  
											<div class="">

												<input id="fechaAnalisis" th:value="${#temporals.format({riesgoDTO.riesgo.fechaAnalisis}, 'dd/MMM/yyyy HH:mm')}" readonly  type="text" class="form-control input-md" tabIndex="-1">
												<input type="hidden" th:field="*{riesgo.fechaAnalisis}">


											</div>
										</div>
									

									</fieldset>

									<hr>

									<fieldset>
										<!-- Select Basic -->
										<div class="col-sm-6 form-group">
											<label class=" control-label" for="tipoOp">Impacto</label>											
											<div class="">
												<select id="impacto" th:field="*{riesgo.impacto}"  class="form-control" onchange="form_submit()" >
													<option value="0"></option>
													<option th:each="riesgoImpacto : ${dataMaster.impactos}" 
												th:value="${riesgoImpacto.id}" th:text="${riesgoImpacto.calificacion}">  </option>
												</select>
											</div>
										</div>


										<!-- Select Basic -->
										<div class="col-sm-6 form-group">
											<label class="control-label" for="tipoCambio">Probabilidad de Ocurrencia</label>
											<div class="">
												<select id="probabilidad" th:field="*{riesgo.probabilidadOcurrencia}" onchange="form_submit()"
												class="form-control" >
												<option value="0"></option>
													<option th:each="probabilidadOcurrencia : ${dataMaster.probabilidadesOcurrencias}" 
												th:value="${probabilidadOcurrencia.id}" th:text="${probabilidadOcurrencia.calificacion}">  </option>
											</select>
										</div>
									</div>
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Inherente Valor</label>
											<div class="">
											<input id="inherenteValor" readonly  th:field="*{riesgo.riesgoInherenteValor.valor}" 
											 type="number"  class="form-control input-md" tabIndex="-1">
										</div>
									</div>


									<!-- Select Basic -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Inherente Descripción</label>
											<div class="">
												<select id="inherente" disabled="disabled" th:field="*{riesgo.riesgoInherenteValor.riesgoInherente}" 
												class="form-control" >
													<option value="0"></option>
													<option th:each="riesgoInherente : ${dataMaster.riesgosInherentes}" 
												th:value="${riesgoInherente.id}" th:text="${riesgoInherente.calificacion}">  </option>
											</select>
										</div>
									</div>
									
										<!-- Text Area-->
								<div class="col-sm-6 form-group">
									<label class="control-label" for="descripcion">Salvaguarda
										Descripcion</label>
									<div class="">
										<textarea class="form-control" id="salvaguardaDesc" onkeypress="enableSaveButton()"
											th:field="*{riesgo.salvaguarda.descripcion}"></textarea>
									</div>
								</div>
									
                                   
									
								



									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="montoRec" id="lblAfectaConf">Afecta Confidencialidad</label>  
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="afconfCheck"  th:field="*{riesgo.afectaConfidencialidad}" onkeypress="enableSaveButton()" >

										</div>
									</div>
									
									

				
									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="montoRec" id="lblAfectaInteg">Afecta Integridad</label>  
										<div class="">
											<input class="form-check-input" type="checkbox" id="afinteCheck"  th:field="*{riesgo.afectaIntegridad}" onkeypress="enableSaveButton()" >

										</div>
									</div>

									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="montoRec" id="lblAfectaDisp">Afecta Disponibilidad</label>  
										<div class="">
											<input class="form-check-input" type="checkbox" id="afdisoCheck"  th:field="*{riesgo.afectaIntegridad}" onkeypress="enableSaveButton()" >

										</div>
									</div>
									
									<!-- Text Area-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="Salvaguarda Valor" id="lblMontoE">Valor Salvaguarda</label>  
										<div class="">
											<input id="salvaguardaVal"   th:field="*{riesgo.salvaguarda.valor}" onchange="form_submit()" 
											 type="number"  class="form-control input-md" tabIndex="-1">
												
										</div>
														
										
									</div>	
									<!-- Text input-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="menorImpacto" id="lblMontoE">Impacto Final</label>  
										<div class="">
											<input id="salvaguardaMenorImpacto"  readonly th:field="*{riesgo.salvaguarda.menorImpacto}" 
											 type="number"  class="form-control input-md" tabIndex="-1">
												
										</div>
									</div>										
									<!-- Text input-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="menorProbabilidad" id="lblMontoE">Probabilidad Final</label>  
										<div class="">
											<input id="menorProbabilidad" readonly  th:field="*{riesgo.salvaguarda.menorProbabilidad}" 
											 type="number"  class="form-control input-md" tabIndex="-1">
												
										</div>
									</div>	
									
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio"></label>
											<div class="">
											
										</div>
									</div>
									
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio"></label>
											<div class="">
											
										</div>
									</div>
									
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Residual Valor</label>
											<div class="">
											<input id="residualValor"  readonly th:field="*{riesgo.riesgoResidualValor.valor}" 
											 type="number"  class="form-control input-md" tabIndex="-1">
										</div>
									</div>

									<!-- Select Basic -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Residual Descripción</label>
											<div class="">
												<select id="residual" disabled="disabled" th:field="*{riesgo.riesgoResidualValor.riesgoResidual}" 
												class="form-control" >
												<option value="0"></option>
													<option th:each="riesgoResidual : ${dataMaster.riesgosResiduales}" 
												th:value="${riesgoResidual.id}" th:text="${riesgoResidual.calificacion}">  </option>
											</select>
										</div>
									</div>
								
									


								
									
		

									<!--Presentacion de los errores si existen-->
									<div class="col-sm-12 alert alert-danger" th:if="${#fields.hasErrors('*')}">
										<p th:errors="*{all}"> </p>
									</div>
									
									

									<!-- Button (Double) -->
									<div class="col-sm-6 form-group">
										<label class="control-label" for="button1id"></label>
										<div class="">
											<span th:if="*{not false}"> <!--Set de botones para ver si readOnly=false-->
												<!-- <button type="submit" id="btnprocesar"  name="procesar"  th:disabled="*{procesado}" class="btn btn-default">Procesar</button> -->
												<button type="submit" id="btnguardar"   name="guardar"   th:disabled="*{not procesado}" class="btn btn-success" onclick="enableSel()">Guardar</button>
												<!-- <button type="submit" id="btnmodificar" name="modificar" th:disabled="*{not procesado}"  class="btn btn-default" onclick="enableSel()">Modificar</button> -->
											</span>
											<span th:if="*{true}">
												<input id="printUrl" type="hidden" th:value="@{/riesgos/pdf/{id}(id=*{riesgo.id})}">
											</span>
											<a href="#" onClick="cargarContenido('/riesgos/');return false;" class="btn btn-danger">Cancelar</a>
											
											
													
										</div>
									</div>
									
									<!-- Text input-->
										<div class="col-sm-3 form-group ">
											<label class="control-label" for="cajero">Codigo de Formulario Aceptación de Riesgo</label>  
											<div class="">
												<input id="codForm"  th:field="*{riesgo.codigoFormulario}" name="codForm" type="text" placeholder="" class="form-control input-md" tabIndex="-1" onkeypress="enableSaveButton()">
											</div>
										</div>
										
										
										<!-- Text input-->
										<div class="col-sm-3 form-group ">
											<label class="control-label" for="cajero">Responsables</label>  
											<div class="">
												<input id="resp"  th:field="*{riesgo.responsable}" name="resp" type="text" placeholder="" class="form-control input-md" tabIndex="-1" onkeypress="enableSaveButton()">
											</div>
										</div>
								

								</fieldset>

							</form><!--Formulario operacion-->


							
							
						</div>
					</div>

			</div> <!-- Fin Contenido principal 9 columnas -->

		</div>	<!-- fila contine menuj lateral 3 col,  principal 9 col -->

	</div>	<!-- fin contenedor de pagina-->
<script>

	window.addEventListener("onload", focusConfig());	
	

	function enableSel(){
		var selects = document.getElementsByTagName('Select');
		console.log(selects);
		for(var k = 0; k < selects.length; k++){
			selects[k].removeAttribute('disabled');
			console.log(selects[k]);

		}
	}




	function focusConfig() {
		$('#slcTipoOp').focus();

		if ($('#txtReadOnly').val()=='true') {
			$('#btnprint').focus();
		}
		if ($('#txtProcesado').val()=='true') {
			$('#btnguardar').focus();
		}		
		

	}

	function mndOrigenChange() {
		$("#slcMndD").val($("#slcMndO").val()).trigger("change");
	}

	function form_submit()
	{
		  $('#btnguardar').prop('disabled', true);
	      $('#riesgoForm').append('<input type="hidden" name="procesar" id="procesar" value="" />');
	      $("#riesgoForm").submit(); 
	}

	function enableSaveButton(){
		$('#btnguardar').prop('disabled', false);
	}

</script>
</body>
</html>