<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">

<head><div th:replace="fragments ::app_head('titulo')"></div></head>
<style type="text/css" media="screen">

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
</style>


</head>
<body>
    <div id="spinner" class="spinner" style="display:none;">
   			 <img id="img-spinner" src="/img/spinner.gif" alt="Loading"/>
	</div>
	<div class="container-fluid"> <!-- contenedor de pagina-->

		<div th:replace="fragments ::navbartop"></div> <!-- Menu superior --> 	

		<div id="result" class="row"> <!-- fila contine menuj lateral 3 col,  principal 9 col -->
			
			<!--
			<div th:replace="fragments ::navbarside"></div> <!-- Menu Lateral  -->  
			
			<!-- Contenido principal 9 columnas -->
			<div class="col-sm-12">
			
			
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading"><h4 th:text="${''}">Clinente: XXXX DOC: XXX</h4></div>
								<form th:object="${riesgoDTO}" th:action="@{/riesgos/save}" method="POST" id="riesgoForm" ><!--Formulario operacion-->
									<!-- Form Name -->
									<input type="hidden" th:field="*{riesgo.usuarioCreador}">
									<fieldset>

			
										<input id="residualValor"   th:field="*{riesgo.riesgoResidualValor.valor}" 
											 type="hidden"  class="form-control input-md" tabIndex="-1">
											 
										<!-- Text input-->
										<div class="col-sm-1 form-group">
											<label class="control-label" for="txtOrigen">Codigo</label>  
											<div class="">
												<input id="txtOrigen" disabled="disabled" th:field="*{riesgo.id}"  name="txtOrigen" type="text" placeholder="" class="form-control input-md" tabIndex="-1" >

											</div>
										</div>
										
										<!-- Select Basic -->
										<div class="col-sm-2 form-group">
											<label class=" control-label" for="tipoOp">Origen Amenaza</label>											
											<div class="">
												<select id="origenAmenaza" disabled="disabled" th:field="*{origenAmenaza}"  class="form-control"   >
													<option value="0"></option>
													<option th:each="origenAmenaza : ${dataMaster.origenAmenazas}" 
												th:value="${origenAmenaza.id}" th:text="${origenAmenaza.origen}">  </option>
												</select>
											</div>
										</div>
										

										<!-- Select Basic -->
										<div class="col-sm-3 form-group">
											<label class=" control-label" for="tipoOp">Tipo Amenaza</label>											
											<div class="">
												<select id="tipoAmenaza"  disabled="disabled" th:field="*{riesgo.amenaza}"  class="form-control"  >
													<option value="0"></option>
													<option th:each="amenaza : ${riesgoDTO.amenazas}" 
												th:value="${amenaza.id}" th:text="${amenaza.tipo}">  </option>
												</select>
											</div>
                                        </div>

																			
									<!-- Textarea -->
									<div class="col-sm-4 form-group">
										<label class="control-label"  for="descripcion">Descripcion Amenaza</label>
										<div class="">                     
											<textarea class="form-control" disabled="disabled" id="descripcion" th:field="*{riesgo.descripcion}"   ></textarea>
										</div>
									</div>
										
										
									<!-- Text input-->
										<div class="col-sm-2 form-group">
											<label class="control-label" for="fechaOp">Fecha Analisis</label>  
											<div class="">

												<input id="fechaAnalisis" disabled="disabled" th:field="*{fechaAnalisis}" type="date"     class="form-control input-md" tabIndex="-1">


											</div>
										</div>
									

									</fieldset>

									<hr>

									<fieldset>
										<!-- Select Basic -->
										<div class="col-sm-6 form-group">
											<label class=" control-label" for="tipoOp">Impacto</label>											
											<div class="">
												<select id="impacto" disabled="disabled" th:field="*{riesgo.impacto}"  class="form-control"   >
													<option value="0"></option>
													<option th:each="riesgoImpacto : ${dataMaster.impactos}" 
												th:value="${riesgoImpacto.id}" th:text="${riesgoImpacto.calificacion}">  </option>
												</select>
											</div>
										</div>


										<!-- Select Basic -->
										<div class="col-sm-6 form-group">
											<label class="control-label" for="tipoCambio">Probabilidad de Ocurrencia</label>
											<div class="">
												<select id="probabilidad" disabled="disabled" th:field="*{riesgo.probabilidadOcurrencia}"  
												class="form-control" >
												<option value="0"></option>
													<option th:each="probabilidadOcurrencia : ${dataMaster.probabilidadesOcurrencias}" 
												th:value="${probabilidadOcurrencia.id}" th:text="${probabilidadOcurrencia.calificacion}">  </option>
											</select>
										</div>
									</div>
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Inherente Valor</label>
											<div class="">
											<input id="inherenteValor" readonly  th:field="*{riesgo.riesgoInherenteValor.valor}" 
											 type="number"  class="form-control input-md" tabIndex="-1">
										</div>
									</div>


									<!-- Select Basic -->
									<div class="col-sm-3 form-group">
											<label class="control-label"  for="tipoCambio">Riesgo Inherente Descripción</label>
											<div class="">
												<select id="inherente" disabled="disabled" th:field="*{riesgo.riesgoInherenteValor.riesgoInherente}" 
												class="form-control" >
													<option value="0"></option>
													<option th:each="riesgoInherente : ${dataMaster.riesgosInherentes}" 
												th:value="${riesgoInherente.id}" th:text="${riesgoInherente.calificacion}">  </option>
											</select>
										</div>
									</div>
									
										<!-- Text Area-->
								<div class="col-sm-6 form-group">
									<label class="control-label" for="descripcion">Salvaguarda
										Descripcion</label>
									<div class="">
										<textarea class="form-control" disabled="disabled" id="salvaguardaDesc"  
											th:field="*{riesgo.salvaguarda.descripcion}"></textarea>
									</div>
								</div>


									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="montoRec" id="lblAfectaConf">Afecta Confidencialidad</label>  
										<div class="form-check">
											<input class="form-check-input" disabled="disabled" type="checkbox" id="afconfCheck"  th:field="*{riesgo.afectaConfidencialidad}"   >

										</div>
									</div>
									
									

				
									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="montoRec" id="lblAfectaInteg">Afecta Integridad</label>  
										<div class="">
											<input class="form-check-input" disabled="disabled" type="checkbox" id="afinteCheck"  th:field="*{riesgo.afectaIntegridad}"   >

										</div>
									</div>

									<!-- checkbox-->
									<div class="col-sm-2 form-group">
										<label class="control-label"  for="montoRec" id="lblAfectaDisp">Afecta Disponibilidad</label>  
										<div class="">
											<input class="form-check-input" disabled="disabled" type="checkbox" id="afdisoCheck"  th:field="*{riesgo.afectaIntegridad}"   >

										</div>
									</div>
									
									<!-- Select Basic-->
									<div class="col-sm-4 form-group">
											<label class="control-label" for="salvaguardaValor">Valor Salvaguarda</label>
											<div class="">
												<select id="salvaguardaVal" disabled="disabled" th:field="*{riesgo.salvaguarda.tipo}"  
												class="form-control" >
													<option value="0"></option>
													<option th:each="tipoSalvaguarda : ${dataMaster.tiposSalvaguarda}" 
												th:value="${tipoSalvaguarda.id}" th:text="${tipoSalvaguarda.descripcion}">  </option>
											</select>
										</div>
									</div>		 			
										
	
									<!-- Text input-->
									<div class="col-sm-2 form-group">
										<label class="control-label" for="menorImpacto" id="lblMontoE">Impacto Final</label>  
										<div class="">
											 <select id="impactoFinal" disabled="disabled" th:field="*{riesgo.salvaguarda.impactoFinal}" 
												class="form-control" >
													<option value="0"></option>
													<option th:each="impacto :  ${dataMaster.impactos}" 
												th:value="${impacto.id}" th:text="${impacto.calificacion}">  </option>
											</select>
												
										</div>
									</div>			
									
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio"></label>
											<div class="">
											
										</div>
									</div>
									
									<!-- Input -->
									<div class="col-sm-3 form-group">
											<label class="control-label" for="tipoCambio"></label>
											<div class="">
											
										</div>
									</div>
									
										<!-- Select Basic-->
									<div class="col-sm-4 form-group">
										<label class="control-label" for="menorProbabilidad" id="lblMontoE">Probabilidad Final</label>  
										<div class="">
											 <select id="probabilidadFinal" disabled="disabled" th:field="*{riesgo.salvaguarda.probabilidadFinal}" 
												class="form-control" >
												<option value="0"></option>
													<option th:each="probabilidadOcurrencia : ${dataMaster.probabilidadesOcurrencias}" 
												th:value="${probabilidadOcurrencia.id}" th:text="${probabilidadOcurrencia.calificacion}">  </option>
											</select>		
										</div>
									</div>	

									<!-- Select Basic -->
									<div class="col-sm-2 form-group">
											<label class="control-label" for="tipoCambio">Riesgo Residual</label>
											<div class="">
												<select id="residual" disabled="disabled" th:field="*{riesgo.riesgoResidualValor.riesgoResidual}" 
												class="form-control" >
												<option value="0"></option>
													<option th:each="riesgoResidual : ${dataMaster.riesgosResiduales}" 
												th:value="${riesgoResidual.id}" th:text="${riesgoResidual.calificacion}">  </option>
											</select>
										</div>
									</div>
								
									


								
									
		

									<!--Presentacion de los errores si existen-->
									<div class="col-sm-12 alert alert-danger" th:if="${#fields.hasErrors('*')}">
										<p th:errors="*{all}"> </p>
									</div>
									
									

									<!-- Button (Double) -->
									<div class="col-sm-6 form-group">
										<label class="control-label" for="button1id"></label>
										<div class="">
										
											<a href="#" onClick="cargarContenido('/riesgos/');return false;" class="btn btn-danger">Cancelar</a>
											
											
													
										</div>
									</div>
									
									<!-- Text input-->
										<div class="col-sm-3 form-group ">
											<label class="control-label" for="cajero">Codigo de Formulario Aceptación de Riesgo</label>  
											<div class="">
												<input id="codForm" disabled="disabled"  th:field="*{riesgo.codigoFormulario}" name="codForm" type="text" placeholder="" class="form-control input-md" tabIndex="-1"  >
											</div>
										</div>
										
										
										<!-- Text input-->
										<div class="col-sm-3 form-group ">
											<label class="control-label" for="cajero">Responsables</label>  
											<div class="">
												<input id="resp" disabled="disabled" th:field="*{riesgo.responsable}" name="resp" type="text" placeholder="" class="form-control input-md" tabIndex="-1"  >
											</div>
										</div>
								

								</fieldset>

							</form><!--Formulario operacion-->


							
							
						</div>
					</div>

			</div> <!-- Fin Contenido principal 9 columnas -->

		</div>	<!-- fila contine menuj lateral 3 col,  principal 9 col -->

	</div>	<!-- fin contenedor de pagina-->
<script>

	window.addEventListener("onload", focusConfig());	
	

	function enableSel(){
		var selects = document.getElementsByTagName('Select');
		console.log(selects);
		for(var k = 0; k < selects.length; k++){
			selects[k].removeAttribute('disabled');
			console.log(selects[k]);

		}
	}




	function focusConfig() {
		$('#slcTipoOp').focus();

		if ($('#txtReadOnly').val()=='true') {
			$('#btnprint').focus();
		}
		if ($('#txtProcesado').val()=='true') {
			$('#btnguardar').focus();
		}		
		

	}

	function mndOrigenChange() {
		$("#slcMndD").val($("#slcMndO").val()).trigger("change");
	}

	function form_submit()
 	{	  
		  $('#spinner').show()
		  $('#btnguardar').prop('disabled', true);
	      $('#riesgoForm').append('<input type="hidden" name="procesar" id="procesar" value="" />');
	      $("#riesgoForm").submit(); 
	}

	function enableSaveButton(){
		$('#btnguardar').prop('disabled', false);
	}
	
	function load(){
		$('#residual').prop('disabled', false);
		$('#inherente').prop('disabled', false);
		 $('#spinner').show()
	}


</script>
</body>
</html>